@using MMU_MVC_CV.Models.Entity
@model List<TblInterests>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>PROJELER & GÖNÜLLÜ ÇALIŞMALAR</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Description1</td>
            <td>@item.Description2</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/Interests/DeleteProject/@item.ID">
                    <i class="fas fa-trash">
                    </i>
                    Sil
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="/Interests/UpdateProject/@item.ID">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Düzenle
                </a>
            </td>

        </tr>
    }
</table>
<br />
<a href="/Interests/AddProject/" class="btn btn-primary">Yeni Proje Ekle</a>
<br />