@model MMU_MVC_CV.Models.Entity.TblInterests
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Proje Düzenleme Sayfası</h2>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Description1, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description2, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>


